@inject ShopStateProvider State
@implements IDisposable
<div class="dropdown ml-3">
    <button class="btn btn-primary" @onclick="@ToggleDropdown">
        <i class="fas fa-shopping-cart"></i> @State.ShoppingCart.Count()
    </button>
    <div class="dropdown-content @Dropdown">
        @if (!State.ShoppingCart.Any())
        {
            <div>Der Warenkorb ist leer.</div>
        }
        else
        {
            <table>
                <tr>
                    <th>Produkt:</th>
                    <th>Menge:</th>
                    <th>Preis:</th>
                </tr>
                @foreach (var item in State.ShoppingCart)
                {
                    <tr id="SchoppingCartId @item.Id">
                        <td>@item.Name</td>
                        <td>@item.OrderAmount</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

@code {

    private string Dropdown { get; set; } = string.Empty;

    private void ToggleDropdown()
    {
        Dropdown = Dropdown.Equals("") ? "dropdownclick" : string.Empty;
    }

    protected override void OnInitialized()
    {

        State.OnChange += StateHasChanged;

    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }


}
