@inject ShopStateProvider State
@implements IDisposable
<div class="dropdown ml-3">
    <button class="btn btn-primary" @onclick="@ToggleDropdown">
        <i class="fas fa-shopping-cart"></i> @State.ShoppingCart.Count()
    </button>
    <div class="dropdown-content @Dropdown">
        @if (!State.ShoppingCart.Any())
        {
            <div class=" alert alert-info">Der Warenkorb ist leer.</div>
        }
        else
        {
            <div>Mein Warenkorb Artikel: @State.ShoppingCart.Count() </div>
            <hr />
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Artikel:</th>
                        <th>Menge:</th>
                        <th>Summe/Stk:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in State.ShoppingCart)
                    {
                        <tr id="SchoppingCartId @item.Id">
                            <td>ImagePlaceholder</td>
                            <td>
                                <div>@item.Name</div>
                                <div>Artikelnummer: @item.Id</div>
                            </td>
                            <td>@item.OrderAmount</td>
                            <td>@(item.OrderAmount * item.Price)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {

    private string Dropdown { get; set; } = string.Empty;

    private void ToggleDropdown()
    {
        Dropdown = Dropdown.Equals("") ? "dropdownclick" : string.Empty;
    }

    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }


}
