@inject ShopStateProvider State
@implements IDisposable
<div class="dropdown ml-3">
    <button class="btn btn-primary" @onclick="@ToggleDropdown">
        <i class="fas fa-shopping-cart"></i> @State.ShoppingCart.Count()
    </button>
    <div class="dropdown-content dropdown-table @Dropdown">
        @if (!State.ShoppingCart.Any())
        {
            <div class=" alert alert-info">Der Warenkorb ist leer.</div>
        }
        else
        {
            <div>Mein Warenkorb Artikel: @State.ShoppingCart.Count() </div>
            <hr />
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Artikel:</th>
                        <th>Menge:</th>
                        <th>Summe: <span>(in Fr.)</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in State.ShoppingCart)
                    {
                        <ShoppingCartItem ShopItem="@item"></ShoppingCartItem>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="close-cart-onclick-outside @Dropdown" @onclick="@CloseOnClickOutside"></div>

@code {

    private string Dropdown { get; set; } = string.Empty;

    private void ToggleDropdown()
    {
        Dropdown = Dropdown.Equals("") ? "dropdownclick" : string.Empty;
    }

    private void CloseOnClickOutside(MouseEventArgs e)
    {
        var click = e.Detail;
        Console.WriteLine(click.ToString());

        if (click == 1)
        {
            Dropdown = string.Empty;
        }
    }

    protected override void OnInitialized()
    {
        State.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChanged;
    }


}
